@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        R. Enxovia, 472 - 25º Andar <br />
        - Chácara Santo Antônio (Zona Sul), São Paulo - SP, 04711-030<br />
        <abbr title="Telefone"> (99)9999-9999</abbr>
        04711-030
    </address>

    <address>
        <strong>Suporte:</strong>   <a href="erick.krug@skysoftware.com.br"> erick.krug@skysoftware.com.br</a><br />
        <strong>Marketing:</strong> <a href="https://tunad.io/">Tunad.io</a>
    </address>
</main>