@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">G_E_U </h1>
        <p class="lead"> Verifique e faça gestão de empresas e usuários na plataforma. . . </p>

        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle"> Por onde começar.</h2>
            <p>
                Comece navegando pelas abas do header acima onde estão destacados a maioria das nossas
                ferramentas para a gestão de dados sensiveis como dados de usuarios 
                e dados de empresas em suma cadastradas, retificamos que dados alterados por voce
                são de completa responsabilidade sua.
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44309/Home/About"> Saiba Mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle"> Saiba mais</h2>
            <p> Procure saber mais sobre as politicas / diretrizes da plafatorma por meio da aba de suprote no rodapé da página.</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44309/Home/Contact">Saiba Mais &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle"> Cadastre, crie, modifique, delete!</h2>
            <p> Usuafrua das possibilidades de criar, deletar e até modificar campos de empresas, usuarios e passar novos valores não esquecendo de salvar os dados antes de finalizar
            suas alterações.</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44309/Home/Exibir">Saiba Mais &raquo;</a></p>
        </section>
    </div>
</main>